<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
		<!-- Product Portfolio -->
		<mat-card class="profile-sidebar mb-1 pb-0">
			<div class="propic text-center">
				<mat-icon style="font-size:75px;width:75px;">shopping_cart</mat-icon>
			</div>
			<div class="profile-title text-center mb-1">
				<div class="main-title">Jhone
					<b>Doe</b>
				</div>
				<div class="subtitle mb-05">Big Data Expert</div>
				<div class="text-muted">Configure Entity mappings for seledted Item</div>
			</div>
			<div class="profile-actions text-center mb-1">
				<button mat-raised-button color="primary" (click)="onMapCompletion()">Confirm Revisions</button>
			</div>
			<div class="profile-nav">
				<!-- For later use -->
			</div>
		</mat-card>
	</div>
	<div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
		<mat-card>
			<form [formGroup]="priceListForm">
				<!-- Config Stepper beginning -->
				<mat-horizontal-stepper 
					#priceListStepper
					formArrayName="priceListConfigArray" 
					[linear]="true">
		
					<mat-step
						*ngFor="let listItem of priceListItems"
						[formGroupName]="listItem.order - 1" 
						[stepControl]="priceListConfigArray?.get([listItem.order - 1])">
						<ng-template matStepLabel>{{ listItem.type }}</ng-template>

						<div fxLayout="row" fxLayoutWrap="wrap">
							<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
								<mat-form-field class="full-width">
									<mat-select placeholder="Price List" (click)="filterByListType(listItem)">
										<mat-option *ngFor="let item of listItem.children" [value]="item.name">
											{{ item.name }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div fxLayout="column" fxFlex="100" fxFlex.gt-md="33">
								<mat-form-field class="full-width">
									<input matInput type="number" placeholder="Price">
								</mat-form-field>
							</div>	
							<div fxLayout="column" fxFlex="100" fxFlex.gt-md="33">
								<mat-form-field class="full-width">
									<input matInput [matDatepicker]="effectiveDate" placeholder="Effective Date">
									<mat-datepicker-toggle matSuffix [for]="effectiveDate"></mat-datepicker-toggle>
									<mat-datepicker #effectiveDate></mat-datepicker>
								</mat-form-field>
							</div>	
							<div fxLayout="column" fxFlex="100" fxFlex.gt-md="33">
								<mat-form-field class="full-width">
									<input matInput [matDatepicker]="expiryDate" placeholder="Expiry Date">
									<mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
									<mat-datepicker #expiryDate></mat-datepicker>
								</mat-form-field>
							</div>	
						</div>
						
						<div fxLayout="row" fxLayoutWrap="wrap">
							<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
								<app-simple-datatable
									*ngIf="loadingCompleted"
									[rows]="rows"
									[columns]="columns"
									(onLoad)="closeLoader($event)"
									[isEditable]="true">
								</app-simple-datatable>
							</div>
						</div>
			
						<!-- Stepper checkbox to indicate form validity: Hidden -->
						<div fxLayout="row">
							<button *ngIf="listItem.order != 1" mat-button matStepperPrevious>Back</button>
							<button mat-button matStepperNext>Next</button>
							<span style="flex: 1 1 auto;"></span>
							<mat-checkbox hidden
								[formControlName]="listItem.order" 
								[(ngModel)]="priceListEntity[listItem.order]['isCompleted']">
								Status
							</mat-checkbox>
						</div>
					</mat-step>
			
					<!-- Mat stepper navigation buttons -->
					<mat-step>
						<ng-template matStepLabel>Done</ng-template>
						You are now done.
						<div>
							<button (click)="onSumit()" mat-button>Done</button>
						</div>
					</mat-step>
		
				</mat-horizontal-stepper>
			</form>
		</mat-card>
	</div>
</div>