<mat-sidenav-container>
	<!-- right side topbar -->
	<mat-toolbar color="primary" class="inbox-toolbar">
		<!-- multiple email select and control -->
		<mat-checkbox (change)="selectToggleAll()" class="inbox-toggle-all mr-1">
			<small>All</small>
		</mat-checkbox>
		<button mat-icon-button matTooltip="Move to trash">
			<mat-icon>delete</mat-icon>
		</button>
		<button mat-icon-button matTooltip="Mark as important" class="">
			<mat-icon>folder_special</mat-icon>
		</button>
		<button mat-icon-button matTooltip="Move to archive">
			<mat-icon>archive</mat-icon>
		</button>
		<button mat-icon-button matTooltip="Report spam">
			<mat-icon>error</mat-icon>
		</button>
		<span style="flex: 1 1 auto;"></span>
		<!-- Filter by Columns -->
		<app-search
			[terms]="searchResults"
			[placeholder]="'Search All Columns'"
			(onFilter)="reDraw($event)">
		</app-search>
	</mat-toolbar>

	<div *ngIf="isValid" class="inbox-hold">
		<!-- Column header -->
		<mat-toolbar fxHide.lt-sm="true" class="inbox-toolbar" [fxHide.gt-sm]="isMobile" style="border-bottom:1px solid rgba(0, 0, 0, .12);font-size:1.115rem !important;">
			
		</mat-toolbar>

		<mat-accordion class="example-headers-align">
			<!-- Expansion panel header -->
			<mat-expansion-panel hideToggle="true" #matExpansionPanel 
				*ngFor="let message of filteredRows"
				(opened)="message.panelOpenState = true"
				(closed)="message.panelOpenState = false">

				<!-- When header is Closed -->
				<mat-expansion-panel-header *ngIf="!message.panelOpenState"
					(click)="expandPanel(matExpansionPanel, $event)">
					
					<mat-panel-title style="flex-grow: 0;">
						<mat-checkbox
							[ngClass]="{'padding-top': isMobile === true}"
							[(ngModel)]="message.selected">
						</mat-checkbox>
					</mat-panel-title>

					<div appAccordion fxFlex="18 1 auto" fxLayout="row">

						<div class="mr-1 hidden-on-open" [ngStyle]="{minWidth: '120px'}">{{ message.name }}</div>
						<div class="mr-1 hidden-on-open" [ngStyle]="{minWidth: '220px'}">{{ message.subject }}</div>

						<div class="mr-1 hidden-on-open" [ngStyle]="{minWidth: '220px'}"
							fxHide [fxHide.gt-sm]="isMobile">{{ message.subject }}</div>
						<div class="mr-1 hidden-on-open" [ngStyle]="{minWidth: '220px'}"
							fxHide [fxHide.gt-sm]="isMobile">{{ message.subject }}</div>
					</div>
					<span fxFlex fxHide [fxHide.gt-sm]="isMobile"></span>
					
					<small class="hidden-on-open" [ngClass]="{'padding-top': isMobile === true}">{{ message.date | date }}</small>
					<mat-icon 
						mat-icon-button 
						[matMenuTriggerFor]="menu"
						[ngClass]="{'padding-top': isMobile === true}">
						more_vert
					</mat-icon>
					<mat-menu #menu="matMenu">
						<a mat-menu-item routerLinkActive="active">Add</a>
						<a mat-menu-item routerLinkActive="active">Edit</a>		
						<button mat-menu-item>Delete</button>
					</mat-menu>
				</mat-expansion-panel-header>

				<!-- When header is Open -->
				<mat-expansion-panel-header *ngIf="message.panelOpenState"
					(click)="expandPanel(matExpansionPanel, $event)">
					
					<div fxFlex="1 1 auto" fxLayout="row" class="show-on-open mr-1">
						<img [src]="message.photo" alt="" class="inbox-face mr-1"
							[ngClass]="{'margin-top': isMobile === true}">
						<div fxLayout="column" [ngClass]="{'padding-top': isMobile === true}">
							<span class="mat-card-title m-0">{{ message.name }}</span>
							<small class="mat-card-subtitle m-0">{{ message.date | date }}</small>
						</div>
					</div>
					<div fxFlex="18 1 auto" fxLayout="row">
						<div class="mr-1 hidden-on-open" 
							[ngStyle]="{minWidth: '120px'}"
							fxHide [fxHide.gt-sm]="isMobile">
							{{ message.subject }}
						</div>						
					</div>
					<div class="show-on-open">
						<button mat-icon-button matTooltip="Reply">
							<mat-icon class="text-muted">reply</mat-icon>
						</button>
						<button mat-icon-button matTooltip="Edit">
							<mat-icon class="text-muted">create</mat-icon>
						</button>
						<button mat-icon-button matTooltip="Delete">
							<mat-icon class="text-muted">delete</mat-icon>
						</button>
					</div>
				</mat-expansion-panel-header>

				<!-- Expanded accordion content -->
				<mat-panel-title 
					[innerHTML]="message.message">
				</mat-panel-title>
			</mat-expansion-panel>
		</mat-accordion>

		<!-- Pagintion Row -->
		<app-pagination *ngIf="isInit"
			[pages]="pages"
			[totalRows]="rows.length"
			[selectedPage]="selectedPage"
			(onPageClick)="paginate($event)">
		</app-pagination>
	</div>

	<mat-toolbar *ngIf="!isValid" color="primary" class="inbox-toolbar">
		<span>No Matching Records Found</span>
	</mat-toolbar>	
</mat-sidenav-container>