<mat-toolbar color="primary" class="inbox-toolbar">
	<!-- multiple user options and search toolbar -->
	<mat-checkbox (change)="selectToggleAll()" class="inbox-toggle-all mr-1">
		<small>All</small>
	</mat-checkbox>
	<button mat-icon-button matTooltip="Move to trash">
		<mat-icon>delete</mat-icon>
	</button>
	<button mat-icon-button matTooltip="Mark as important" class="">
		<mat-icon>folder_special</mat-icon>
	</button>
	<button mat-icon-button matTooltip="Move to archive">
		<mat-icon>archive</mat-icon>
	</button>
	<button mat-icon-button matTooltip="Report spam">
		<mat-icon>error</mat-icon>
	</button>
	<span style="flex: 1 1 auto;"></span>
	<button mat-raised-button style="color:#3f51b5;"
		(click)="addRecord()">Add {{ title }}</button>
</mat-toolbar>
<mat-toolbar class="search-toolbar">
	<!-- Filter by Columns -->
	<app-search style="width:100%;"
		[terms]="searchResults"
		[placeholder]="'Search All Columns'"
		(onFilter)="reDraw($event)">
	</app-search>
</mat-toolbar>
<mat-card *ngIf="isValid">
	<!-- Simple Datatable view -->
	<div class="Table">
		<!-- Columns section -->
		<div class="Table-row Table-header">
			<span style="padding-left:38px;"></span>
			<div class="Table-row-item cell" *ngFor="let column of columns">
				{{ column.name }}
			</div>
			<div class="Table-row-item cell">Actions</div>
		</div>
		<!-- Body section -->
		<div class="Table-row" *ngFor="let row of filteredRows">
			<mat-checkbox class="hidden-on-open mail-check"></mat-checkbox>
			<div class="Table-row-item data-cell" attr.data-header="{{ column.name }}"
				*ngFor="let column of columns" [ngSwitch]="column.type">
				<span *ngSwitchCase="'string'">{{ row[column.attr] }}</span>
				<!-- Status of chips -->
				<span *ngSwitchCase="'chip'">
					<mat-chip *ngIf="row[column.attr]" color="primary" selected="true">active</mat-chip>
					<mat-chip *ngIf="!row[column.attr]" color="primary">inactive</mat-chip>
				</span>
			</div>
			<div class="Table-row-item data-cell" style="padding-bottom:0px;padding-top:5px;"
				data-header="Actions">
				<button mat-icon-button color="primary"
					(click)="editRecord(row)">
					<mat-icon>create</mat-icon>
				</button>
				<button mat-icon-button color="warn"
					(click)="deleteRecord(row['toBeDeleted']);">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<!-- Pagination Module -->
	<app-pagination *ngIf="isInit"
		[pages]="pages"
		[totalRows]="rows.length"
		[selectedPage]="selectedPage"
		(onPageClick)="paginate($event)">
	</app-pagination>
</mat-card>
<mat-toolbar *ngIf="!isValid" style="background: whitesmoke" class="inbox-toolbar">
	<span style="font-weight: 200; color:black;">No Matching Records Found</span>
</mat-toolbar>	