<mat-card class="p-0">
	<mat-horizontal-stepper [linear]="isLinear">
		<div>
			<mat-step [stepControl]="firstFormGroup">
				<form [formGroup]="firstFormGroup">
					<ng-template matStepLabel>Fill out your name</ng-template>
					<mat-form-field>
						<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
					</mat-form-field>
					<div>
						<button mat-button matStepperNext>Next</button>
					</div>
				</form>
			</mat-step>
		</div>
		<div>
			<mat-step [stepControl]="secondFormGroup">
				<form [formGroup]="secondFormGroup">
					<ng-template matStepLabel>Fill out your address</ng-template>
					<mat-form-field>
						<input matInput placeholder="Address" formControlName="secondCtrl" required>
					</mat-form-field>
					<div>
						<button mat-button matStepperPrevious>Back</button>
						<button mat-button matStepperNext>Next</button>
					</div>
				</form>
			</mat-step>
		</div>
		<div>
			<mat-step>
				<ng-template matStepLabel>Done</ng-template>
				You are now done.
				<div>
					<button mat-button matStepperPrevious>Back</button>
				</div>
			</mat-step>
		</div>

	</mat-horizontal-stepper>
</mat-card>
<mat-card class="p-0">
	<mat-horizontal-stepper [linear]="isLinear">
		<mat-step *ngFor="let step of steps" [ngSwitch]="step.type">
			<ng-template matStepLabel>{{ step.label }}</ng-template>

			<app-dynamic-step-form *ngSwitchCase="'form'"
				[isLinear]="isLinear"
				[formElements]="step.formElements"
				(onFormCompletion)="unlockStep($event)">
			</app-dynamic-step-form>

			<div>
				<button *ngIf="step.order != 1" mat-button matStepperPrevious>Back</button>
				<button mat-button matStepperNext>Next</button>
			</div>
		</mat-step>


		<!-- <mat-step [stepControl]="firstFormGroup">
			<form [formGroup]="firstFormGroup">
				<ng-template matStepLabel>Fill out your name</ng-template>
				<mat-form-field>
					<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
				</mat-form-field>
				<div>
					<button mat-button matStepperNext>Next</button>
				</div>
			</form>
		</mat-step>
		<mat-step [stepControl]="secondFormGroup">
			<form [formGroup]="secondFormGroup">
				<ng-template matStepLabel>Fill out your address</ng-template>
				<mat-form-field>
					<input matInput placeholder="Address" formControlName="secondCtrl" required>
				</mat-form-field>
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button matStepperNext>Next</button>
				</div>
			</form>
		</mat-step> -->
		<mat-step>
			<ng-template matStepLabel>Done</ng-template>
			You are now done.
			<div>
				<button mat-button matStepperPrevious>Back</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</mat-card>

<mat-card class="p-0">
	<form [formGroup]="formGroup">
		<mat-horizontal-stepper formArrayName="formArray" [linear]="!isNonLinear">
			<mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
				<ng-template matStepLabel>Fill out your name</ng-template>
				<mat-form-field>
					<input matInput placeholder="First Name" formControlName="firstNameFormCtrl" required>
					<mat-error>This field is required</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Last Name" formControlName="lastNameFormCtrl" required>
					<mat-error>This field is required</mat-error>
				</mat-form-field>
				<div>
					<button mat-button matStepperNext type="button">Next</button>
				</div>
			</mat-step>

			<mat-step formGroupName="1" [stepControl]="formArray?.get([1])" optional>
				<ng-template matStepLabel>
					<div>Fill out your email address</div>
				</ng-template>
				<mat-form-field>
					<input matInput placeholder="Email address" formControlName="emailFormCtrl">
					<mat-error>The input is invalid.</mat-error>
				</mat-form-field>
				<div>
					<button mat-button matStepperPrevious type="button">Back</button>
					<button mat-button matStepperNext type="button">Next</button>
				</div>
			</mat-step>

			<mat-step>
				<ng-template matStepLabel>Confirm your information</ng-template>
				Everything seems correct.
				<div>
					<button mat-button>Done</button>
				</div>
			</mat-step>
		</mat-horizontal-stepper>
	</form>
</mat-card>